In [73]:
import pandas as pd
import numpy as np

In [74]:
%load_ext autoreload
%autoreload 2

# make sure your run the cell above before running this
import helper

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [75]:
allJoined = pd.read_csv("allJoined.csv", index_col=0)
allJoined = allJoined.set_index("zipcode")
t = allJoined["numStarbucks"]
X = allJoined.drop(columns="numStarbucks")

In [79]:
rf_RMSE, rf_importances = helper.sk_random_forest(X, t, 10, 100)

In [80]:
rf_RMSE

1.2002402736256585

In [81]:
rf_importances

mean_income                                                            0.366491
median_income                                                          0.306099
education_percent_of_adults_with_a_high_school_diploma_only_2015-19    0.030896
population_natural_increase_2016                                       0.023903
population_estimate_2016                                               0.023869
                                                                         ...
population_by_race_total_american_indian_alaska_native_female_2016     0.000070
population_urban_influence_code_2013_9                                 0.000052
population_urban_influence_code_2013_11                                0.000049
population_urban_influence_code_2013_10                                0.000035
population_urban_influence_code_2013_12                                0.000029
Length: 74, dtype: float64

In [82]:
rf_importances.head(20)

mean_income                                                                          0.366491
median_income                                                                        0.306099
education_percent_of_adults_with_a_high_school_diploma_only_2015-19                  0.030896
population_natural_increase_2016                                                     0.023903
population_estimate_2016                                                             0.023869
population_death_rate_2016                                                           0.019812
education_percent_of_adults_with_a_bachelor's_degree_or_higher_2015-19               0.016751
population_natural_increase_rate_2016                                                0.016747
population_change_2016                                                               0.011607
population_by_age_total_65_over_2016                                                 0.011463
population_by_age_total_45_64_2016                                                   0.010824
population_by_age_total_14_17_2016                                                   0.010702
population_net_international_migration_rate_2016                                     0.010637
population_by_age_total_5_13_2016                                                    0.010227
population_by_age_total_15_44_2016                                                   0.009594
education_percent_of_adults_completing_some_college_or_associate's_degree_2015-19    0.009378
population_net_domestic_migration_rate_2016                                          0.009258
population_net_migration_rate_2016                                                   0.009198
education_percent_of_adults_with_less_than_a_high_school_diploma_2015-19             0.008924
population_group_quarters_total_estimate_2016                                        0.008811
dtype: float64

# calculating without income metrics

In [83]:
no_income_X = X.drop(columns=["mean_income", "median_income"])
no_income_RMSE, no_income_importances = helper.sk_random_forest(no_income_X, t, 10, 100)
no_income_RMSE

1.141388271051425

In [84]:
no_income_importances.head(20)

education_percent_of_adults_with_a_high_school_diploma_only_2015-19                  0.097603
population_estimate_2016                                                             0.078545
population_natural_increase_2016                                                     0.078244
population_death_rate_2016                                                           0.066999
education_percent_of_adults_with_a_bachelor's_degree_or_higher_2015-19               0.055647
population_natural_increase_rate_2016                                                0.052266
population_by_age_total_65_over_2016                                                 0.035610
population_change_2016                                                               0.033231
population_by_age_total_14_17_2016                                                   0.032201
population_by_age_total_45_64_2016                                                   0.032182
population_net_international_migration_rate_2016                                     0.029504
population_by_age_total_5_13_2016                                                    0.029006
population_by_age_total_18_24_2016                                                   0.028698
population_by_age_total_15_44_2016                                                   0.027467
population_net_migration_rate_2016                                                   0.027273
population_net_domestic_migration_rate_2016                                          0.026636
education_percent_of_adults_completing_some_college_or_associate's_degree_2015-19    0.025763
education_percent_of_adults_with_less_than_a_high_school_diploma_2015-19             0.025217
unemployment_employed_2016                                                           0.024905
unemployment_civilian_labor_force_2016                                               0.024791
dtype: float64

In [85]:
X["education_percent_of_adults_with_a_high_school_diploma_only_2015-19"].corr(X["median_income"])

-0.19281878563996097

In [86]:
income_correlations = no_income_X.apply(lambda col: col.corr(X["mean_income"]))
income_correlations.abs().sort_values(ascending=False).head(20)

education_percent_of_adults_with_a_bachelor's_degree_or_higher_2015-19               0.431787
education_percent_of_adults_with_a_high_school_diploma_only_2015-19                  0.368772
population_death_rate_2016                                                           0.341254
unemployment_employed_2016                                                           0.313110
population_urban_influence_code_2013_1                                               0.312682
population_rural_urban_continumm_code_2013_1                                         0.312682
unemployment_civilian_labor_force_2016                                               0.309697
unemployment_unemployment_rate_2016                                                  0.234354
population_net_international_migration_rate_2016                                     0.221792
population_natural_increase_rate_2016                                                0.212611
education_percent_of_adults_with_less_than_a_high_school_diploma_2015-19             0.207183
education_percent_of_adults_completing_some_college_or_associate's_degree_2015-19    0.201964
population_rural_urban_continumm_code_2013_6                                         0.143841
population_estimate_2016                                                             0.135324
population_change_2016                                                               0.128787
population_natural_increase_2016                                                     0.124478
population_economic_typology_2015_0                                                  0.112364
population_urban_influence_code_2013_6                                               0.109306
population_rural_urban_continumm_code_2013_7                                         0.108047
population_group_quarters_total_estimate_2016                                        0.106000
dtype: float64

It's intersting that the rural-urban continoium is highly correlated with income, but doesn't show up on the important features

#Calculating based on country FIPS code

In [88]:
orig_df = pd.read_csv("us_county_demographics.csv")
orig_df

,zipcode_type,major_city,post_office_city,county,state,lat,lng,timezone,radius_in_miles,land_area_in_sqmi,...,population_by_race_85yrs_older_white_combination_male_2019,population_by_race_85yrs_older_white_combination_female_2019,population_by_race_85yrs_older_black_combination_male_2019,population_by_race_85yrs_older_black_combination_female_2019,population_by_race_85yrs_older_american_indian_alaska_native_combination_male_2019,population_by_race_85yrs_older_american_indian_alaska_native_combination_female_2019,population_by_race_85yrs_older_asian_combination_male_2019,population_by_race_85yrs_older_asian_combination_female_2019,population_by_race_85yrs_older_native_hawaiian_pacific_islander_combination_male_2019,population_by_race_85yrs_older_native_hawaiian_pacific_islander_combination_female_2019
0,Standard,Verbena,"Verbena, AL",Chilton County,AL,32.80,-86.50,Central,10.0,81.80,...,325.0,486.0,33.0,84.0,2.0,7.0,0.0,3.0,0.0,0.0
1,Standard,Plantersville,"Plantersville, AL",Dallas County,AL,32.60,-86.90,Central,9.0,87.41,...,325.0,486.0,33.0,84.0,2.0,7.0,0.0,3.0,0.0,0.0
2,Standard,Billingsley,"Billingsley, AL",Autauga County,AL,32.60,-86.70,Central,9.0,71.47,...,325.0,486.0,33.0,84.0,2.0,7.0,0.0,3.0,0.0,0.0
3,Standard,Prattville,"Prattville, AL",Autauga County,AL,32.50,-86.60,Central,15.0,239.23,...,325.0,486.0,33.0,84.0,2.0,7.0,0.0,3.0,0.0,0.0
4,Standard,Selma,"Selma, AL",Dallas County,AL,32.50,-87.00,Central,21.0,259.77,...,325.0,486.0,33.0,84.0,2.0,7.0,0.0,3.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51997,PO Box,Nelson,NaN,Pickens County,GA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51998,Standard,Cumming,"Cumming, GA",Forsyth County,GA,34.30,-84.20,Eastern,8.0,51.02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51999,Standard,Canton,"Canton, GA",Cherokee County,GA,34.30,-84.50,Eastern,10.0,107.89,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52000,Standard,Fairmount,"Fairmount, GA",Gordon County,GA,34.40,-84.70,Eastern,10.0,71.73,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52001,Standard,Woodstock,"Woodstock, GA",Cherokee County,GA,34.13,-84.57,Eastern,4.0,19.45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [89]:
allJoined = pd.read_csv("allJoined.csv", index_col=0)
allJoined

,zipcode,population_estimate_2016,population_change_2016,population_natural_increase_2016,population_residual_2016,population_group_quarters_total_estimate_2016,population_death_rate_2016,population_natural_increase_rate_2016,population_net_international_migration_rate_2016,population_net_domestic_migration_rate_2016,...,population_urban_influence_code_2013_12,population_economic_typology_2015_0,population_economic_typology_2015_1,population_economic_typology_2015_2,population_economic_typology_2015_3,population_economic_typology_2015_4,population_economic_typology_2015_5,numStarbucks,median_income,mean_income
0,36091.0,55243,0.006861,119,-0.000054,0.008236,9.9,2.2,-0.1,4.8,...,0,1,0,0,0,0,0,0.0,46110.0,67265.0
3,36067.0,55243,0.006861,119,-0.000054,0.008236,9.9,2.2,-0.1,4.8,...,0,1,0,0,0,0,0,0.0,39054.0,53597.0
4,36067.0,55243,0.006861,119,-0.000054,0.008236,9.9,2.2,-0.1,4.8,...,0,1,0,0,0,0,0,0.0,51927.0,58180.0
5,36701.0,55243,0.006861,119,-0.000054,0.008236,9.9,2.2,-0.1,4.8,...,0,1,0,0,0,0,0,0.0,15982.0,23614.0
6,36701.0,55243,0.006861,119,-0.000054,0.008236,9.9,2.2,-0.1,4.8,...,0,1,0,0,0,0,0,0.0,19843.0,26582.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74659,30028.0,241795,0.026742,1381,0.000087,0.006849,6.1,5.8,1.9,19.3,...,0,1,0,0,0,0,0,0.0,64358.0,72611.0
74660,30114.0,241795,0.026742,1381,0.000087,0.006849,6.1,5.8,1.9,19.3,...,0,1,0,0,0,0,0,3.0,300000.0,98943.0
74662,30189.0,241795,0.026742,1381,0.000087,0.006849,6.1,5.8,1.9,19.3,...,0,1,0,0,0,0,0,1.0,109799.0,114994.0
74663,30189.0,241795,0.026742,1381,0.000087,0.006849,6.1,5.8,1.9,19.3,...,0,1,0,0,0,0,0,1.0,67136.0,77755.0
74664,30189.0,241795,0.026742,1381,0.000087,0.006849,6.1,5.8,1.9,19.3,...,0,1,0,0,0,0,0,1.0,92994.0,103626.0

In [90]:
df = pd.merge(allJoined, orig_df[["zipcode", "county_fips"]], how="left", left_on="zipcode", right_on="zipcode")
fips_t = df.groupby("county_fips")["numStarbucks"].sum()
fips_X = df.drop(columns=["numStarbucks"]).groupby("county_fips").mean()
fips_X

,zipcode,population_estimate_2016,population_change_2016,population_natural_increase_2016,population_residual_2016,population_group_quarters_total_estimate_2016,population_death_rate_2016,population_natural_increase_rate_2016,population_net_international_migration_rate_2016,population_net_domestic_migration_rate_2016,...,population_urban_influence_code_2013_11,population_urban_influence_code_2013_12,population_economic_typology_2015_0,population_economic_typology_2015_1,population_economic_typology_2015_2,population_economic_typology_2015_3,population_economic_typology_2015_4,population_economic_typology_2015_5,median_income,mean_income
county_fips,,,,,,,,,,,,,,,,,,,,,
1001,36407.424242,45981.575758,-0.002348,58.030303,-0.000031,0.029497,11.263636,0.896970,0.200000,-3.375758,...,0.000000,0.0,0.727273,0.0,0.0,0.272727,0.000000,0.000000,57906.424242,45729.181818
1003,36532.235294,175705.000000,0.017279,221.176471,0.000069,0.015256,10.317647,0.870588,0.729412,15.870588,...,0.117647,0.0,0.058824,0.0,0.0,0.117647,0.000000,0.823529,89182.941176,58166.117647
1005,36033.200000,32281.800000,-0.017052,42.600000,0.000069,0.094200,10.780000,0.620000,0.520000,-18.120000,...,0.000000,0.0,0.000000,0.0,0.0,1.000000,0.000000,0.000000,29077.400000,43611.000000
1007,35545.666667,124387.333333,-0.000165,369.277778,0.000003,0.060143,10.655556,1.894444,0.822222,-2.838889,...,0.000000,0.0,0.944444,0.0,0.0,0.000000,0.055556,0.000000,139013.555556,67779.888889
1009,35416.461538,122652.807692,0.002295,196.076923,-0.000043,0.012916,11.596154,1.050000,0.780769,0.542308,...,0.000000,0.0,0.730769,0.0,0.0,0.269231,0.000000,0.000000,81772.192308,55171.692308
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55091,54756.333333,36058.500000,0.002411,95.000000,-0.000074,0.037044,8.900000,1.900000,0.850000,-0.250000,...,0.000000,0.0,0.666667,0.0,0.0,0.000000,0.333333,0.000000,74673.333333,85213.000000
55093,54381.750000,37542.500000,0.007471,88.750000,-0.000056,0.055822,7.562500,2.200000,1.025000,4.387500,...,0.000000,0.0,0.125000,0.0,0.0,0.000000,0.875000,0.000000,58056.625000,66127.375000
55095,54256.000000,35223.428571,0.001601,-50.285714,-0.000066,0.009522,11.200000,-1.714286,0.171429,3.200000,...,0.000000,0.0,0.000000,0.0,0.0,0.714286,0.000000,0.285714,52756.285714,64439.428571
55097,54528.375000,79714.000000,-0.001214,189.125000,-0.000006,0.042527,8.279167,1.637500,1.291667,-4.212500,...,0.000000,0.0,0.708333,0.0,0.0,0.208333,0.000000,0.083333,87139.000000,65292.000000
55099,54553.000000,10828.666667,-0.012147,-65.666667,-0.000059,0.012931,14.100000,-6.800000,0.333333,-5.600000,...,0.000000,1.0,0.000000,0.0,0.0,1.000000,0.000000,0.000000,46612.666667,55211.333333

In [91]:
fips_rf_RMSE, fips_rf_importances = helper.sk_random_forest(fips_X, fips_t, 10, 100)
fips_rf_RMSE

42.78846088608157

RMSE if we just guess the average

In [92]:
(fips_t - fips_t.mean()).abs().mean()

20.43788325343343

oof

In [93]:
fips_rf_importances.head(20)

population_estimate_2016                                                             0.069134
population_natural_increase_2016                                                     0.051360
education_percent_of_adults_with_a_bachelor's_degree_or_higher_2015-19               0.037832
education_percent_of_adults_with_a_high_school_diploma_only_2015-19                  0.033494
median_income                                                                        0.033200
population_death_rate_2016                                                           0.029132
population_net_international_migration_rate_2016                                     0.025885
zipcode                                                                              0.025349
population_urban_influence_code_2013_2                                               0.025235
mean_income                                                                          0.024599
population_change_2016                                                               0.024370
population_by_age_total_65_over_2016                                                 0.023508
population_natural_increase_rate_2016                                                0.022724
population_net_migration_rate_2016                                                   0.021982
population_by_age_total_5_13_2016                                                    0.021940
population_by_age_total_45_64_2016                                                   0.021862
population_by_age_total_14_17_2016                                                   0.021838
education_percent_of_adults_completing_some_college_or_associate's_degree_2015-19    0.021789
unemployment_unemployment_rate_2016                                                  0.021165
education_percent_of_adults_with_less_than_a_high_school_diploma_2015-19             0.021108
dtype: float64

Permutation Feature importances

In [94]:
results = helper.sk_random_forest(fips_X, fips_t, 10, 10, importance_metric="permutation")
results[1]

population_estimate_2016                                                  0.002353
unemployment_unemployment_rate_2016                                       0.001888
unemployment_employed_2016                                                0.001669
population_group_quarters_total_estimate_2016                             0.001477
education_percent_of_adults_with_a_bachelor's_degree_or_higher_2015-19    0.001450
                                                                            ...
population_urban_influence_code_2013_1                                   -0.000438
population_by_age_total_14_17_2016                                       -0.000547
mean_income                                                              -0.000629
population_rural_urban_continumm_code_2013_1                             -0.000629
zipcode                                                                  -0.000684
Length: 75, dtype: float64

In [95]:
fips_permutation_importances = results[1]
fips_permutation_importances.head(15)

population_estimate_2016                                                  0.002353
unemployment_unemployment_rate_2016                                       0.001888
unemployment_employed_2016                                                0.001669
population_group_quarters_total_estimate_2016                             0.001477
education_percent_of_adults_with_a_bachelor's_degree_or_higher_2015-19    0.001450
unemployment_civilian_labor_force_2016                                    0.001423
population_by_age_total_65_over_2016                                      0.001259
population_economic_typology_2015_0                                       0.000930
median_income                                                             0.000876
population_net_international_migration_rate_2016                          0.000821
population_net_migration_rate_2016                                        0.000766
population_by_age_total_5_13_2016                                         0.000739
population_rural_urban_continumm_code_2013_2                              0.000684
population_by_age_total_18_24_2016                                        0.000684
population_economic_typology_2015_3                                       0.000575
dtype: float64

In [96]:
fips_rf_importances.head(15)

population_estimate_2016                                                  0.069134
population_natural_increase_2016                                          0.051360
education_percent_of_adults_with_a_bachelor's_degree_or_higher_2015-19    0.037832
education_percent_of_adults_with_a_high_school_diploma_only_2015-19       0.033494
median_income                                                             0.033200
population_death_rate_2016                                                0.029132
population_net_international_migration_rate_2016                          0.025885
zipcode                                                                   0.025349
population_urban_influence_code_2013_2                                    0.025235
mean_income                                                               0.024599
population_change_2016                                                    0.024370
population_by_age_total_65_over_2016                                      0.023508
population_natural_increase_rate_2016                                     0.022724
population_net_migration_rate_2016                                        0.021982
population_by_age_total_5_13_2016                                         0.021940
dtype: float64

In [97]:
fips_X["population_death_rate_2016"].corr(fips_X["population_estimate_2016"])

-0.34169198536864903

In [98]:
fips_X["population_death_rate_2016"].mean()

10.60831596500887