In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("starbucks.csv")
df.head()

,Brand,Store Number,Store Name,Ownership Type,Street Address,City,State/Province,Country,Postcode,Phone Number,Timezone,Longitude,Latitude
0,Starbucks,47370-257954,"Meritxell, 96",Licensed,"Av. Meritxell, 96",Andorra la Vella,7,AD,AD500,376818720,GMT+1:00 Europe/Andorra,1.53,42.51
1,Starbucks,22331-212325,Ajman Drive Thru,Licensed,"1 Street 69, Al Jarf",Ajman,AJ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,55.47,25.42
2,Starbucks,47089-256771,Dana Mall,Licensed,Sheikh Khalifa Bin Zayed St.,Ajman,AJ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,55.47,25.39
3,Starbucks,22126-218024,Twofour 54,Licensed,Al Salam Street,Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.38,24.48
4,Starbucks,17127-178586,Al Ain Tower,Licensed,"Khaldiya Area, Abu Dhabi Island",Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.54,24.51

In [3]:
#grabbing US only locations
df = df.loc[df["Country"] == "US"]
#grabbing only starbucks (not jambda juice)
df = df.loc[df["Brand"] == "Starbucks"]
#might want to only grab only company owned stores
df = df.loc[df["Ownership Type"] == "Company Owned"]
df = df[["Postcode", "State/Province", "City", "Street Address"]]
df = df.dropna()
#grabbing only the first 5 digits of the zipcode
df["Postcode"] = df["Postcode"].apply(lambda s: s[:5])
print(df.shape)
df.head()

(7928, 4)

,Postcode,State/Province,City,Street Address
11967,99515,AK,Anchorage,"320 W. 100th Ave, 100, Southgate Shopping Ctr ..."
11968,99515,AK,Anchorage,1005 E Dimond Blvd
11972,99503,AK,Anchorage,"110 W. Tudor Rd, E"
11978,99507,AK,Anchorage,"2421 East Tudor Road, Suite 8"
11986,99504,AK,Anchorage,"1142 N. Muldoon Road, 110, Anchorage 5th Ave Mall"

In [4]:
y = df["Postcode"].value_counts()
y.head()

98101    21
10019    19
10017    18
10022    14
10001    13
Name: Postcode, dtype: int64

Loading income data by postcodes

loading historical data by zipcodes

In [5]:
demoDF = pd.read_csv("us_county_demographics.csv")
demoDF.head()

,zipcode_type,major_city,post_office_city,county,state,lat,lng,timezone,radius_in_miles,land_area_in_sqmi,...,population_by_race_85yrs_older_white_combination_male_2019,population_by_race_85yrs_older_white_combination_female_2019,population_by_race_85yrs_older_black_combination_male_2019,population_by_race_85yrs_older_black_combination_female_2019,population_by_race_85yrs_older_american_indian_alaska_native_combination_male_2019,population_by_race_85yrs_older_american_indian_alaska_native_combination_female_2019,population_by_race_85yrs_older_asian_combination_male_2019,population_by_race_85yrs_older_asian_combination_female_2019,population_by_race_85yrs_older_native_hawaiian_pacific_islander_combination_male_2019,population_by_race_85yrs_older_native_hawaiian_pacific_islander_combination_female_2019
0,Standard,Verbena,"Verbena, AL",Chilton County,AL,32.8,-86.5,Central,10.0,81.80,...,325.0,486.0,33.0,84.0,2.0,7.0,0.0,3.0,0.0,0.0
1,Standard,Plantersville,"Plantersville, AL",Dallas County,AL,32.6,-86.9,Central,9.0,87.41,...,325.0,486.0,33.0,84.0,2.0,7.0,0.0,3.0,0.0,0.0
2,Standard,Billingsley,"Billingsley, AL",Autauga County,AL,32.6,-86.7,Central,9.0,71.47,...,325.0,486.0,33.0,84.0,2.0,7.0,0.0,3.0,0.0,0.0
3,Standard,Prattville,"Prattville, AL",Autauga County,AL,32.5,-86.6,Central,15.0,239.23,...,325.0,486.0,33.0,84.0,2.0,7.0,0.0,3.0,0.0,0.0
4,Standard,Selma,"Selma, AL",Dallas County,AL,32.5,-87.0,Central,21.0,259.77,...,325.0,486.0,33.0,84.0,2.0,7.0,0.0,3.0,0.0,0.0

In [6]:
usefulColumns = [
    "population_rural_urban_continumm_code_2013",
    "population_urban_influence_code_2013",
    "population_economic_typology_2015",
    "population_estimate_2016",
    "population_change_2016",
    "population_deaths_2016",
    "population_natural_increase_2016",
    "population_net_international_migration_2016",
    "population_net_domestic_migration_2016",
    "population_net_migration_2016",
    "population_residual_2016",
    "population_group_quarters_total_estimate_2016",
    "population_death_rate_2016",
    "population_natural_increase_rate_2016",
    "population_net_international_migration_rate_2016",
    "population_net_domestic_migration_rate_2016",
    "population_net_migration_rate_2016",
    "unemployment_civilian_labor_force_2016",
    "unemployment_employed_2016",
    "unemployment_unemployed_2016",
    "unemployment_unemployment_rate_2016",
    "education_percent_of_adults_with_less_than_a_high_school_diploma_2015-19",
    "education_percent_of_adults_with_a_high_school_diploma_only_2015-19",
    "education_percent_of_adults_completing_some_college_or_associate's_degree_2015-19",
    "education_percent_of_adults_with_a_bachelor's_degree_or_higher_2015-19",
    "population_by_age_total_5_13_2016",
    "population_by_age_total_14_17_2016",
    "population_by_age_total_18_24_2016",
    "population_by_age_total_15_44_2016",
    "population_by_age_total_45_64_2016",
    "population_by_age_total_65_over_2016",
    "population_by_race_total_white_male_2016",
    "population_by_race_total_white_female_2016",
    "population_by_race_total_black_male_2016",
    "population_by_race_total_black_female_2016",
    "population_by_race_total_american_indian_alaska_native_male_2016",
    "population_by_race_total_american_indian_alaska_native_female_2016",
    "population_by_race_total_american_indian_alaska_native_female_2016",
    "population_by_race_total_asian_female_2016",
    "population_by_race_total_native_hawaiian_pacific_islander_male_2016",
    "population_by_race_total_native_hawaiian_pacific_islander_female_2016",
    "population_by_race_total_2_or_more_races_male_2016",
    "population_by_race_total_2_or_more_races_female_2016",
    "population_by_race_total_white_combination_male_2016",
    "population_by_race_total_white_combination_female_2016",
    "population_by_race_total_black_combination_male_2016",
    "population_by_race_total_black_combination_female_2016",
    "population_by_race_total_american_indian_alaska_native_combination_male_2016",
    "population_by_race_total_american_indian_alaska_native_combination_female_2016",
    "population_by_race_total_asian_combination_male_2016",
    "population_by_race_total_asian_combination_female_2016",
    "population_by_race_total_native_hawaiian_pacific_islander_combination_male_2016",
    "population_by_race_total_native_hawaiian_pacific_islander_combination_female_2016",
]

demoDF = demoDF[usefulColumns]
demoDF.head()

,population_rural_urban_continumm_code_2013,population_urban_influence_code_2013,population_economic_typology_2015,population_estimate_2016,population_change_2016,population_deaths_2016,population_natural_increase_2016,population_net_international_migration_2016,population_net_domestic_migration_2016,population_net_migration_2016,...,population_by_race_total_white_combination_male_2016,population_by_race_total_white_combination_female_2016,population_by_race_total_black_combination_male_2016,population_by_race_total_black_combination_female_2016,population_by_race_total_american_indian_alaska_native_combination_male_2016,population_by_race_total_american_indian_alaska_native_combination_female_2016,population_by_race_total_asian_combination_male_2016,population_by_race_total_asian_combination_female_2016,population_by_race_total_native_hawaiian_pacific_islander_combination_male_2016,population_by_race_total_native_hawaiian_pacific_islander_combination_female_2016
0,2,2,0,55243,379,547,119,-3,266,263,...,21455.0,22145.0,5305.0,5821.0,279.0,305.0,424.0,484.0,48.0,54.0
1,2,2,0,55243,379,547,119,-3,266,263,...,21455.0,22145.0,5305.0,5821.0,279.0,305.0,424.0,484.0,48.0,54.0
2,2,2,0,55243,379,547,119,-3,266,263,...,21455.0,22145.0,5305.0,5821.0,279.0,305.0,424.0,484.0,48.0,54.0
3,2,2,0,55243,379,547,119,-3,266,263,...,21455.0,22145.0,5305.0,5821.0,279.0,305.0,424.0,484.0,48.0,54.0
4,2,2,0,55243,379,547,119,-3,266,263,...,21455.0,22145.0,5305.0,5821.0,279.0,305.0,424.0,484.0,48.0,54.0

In [12]:
quantityColumns = [
    "population_change_2016",
    "population_deaths_2016",
    "population_natural_increase_2016",
    "population_net_international_migration_2016",
    "population_net_domestic_migration_2016",
    "population_net_migration_2016",
    "population_residual_2016",
    "population_group_quarters_total_estimate_2016",
    "population_death_rate_2016",
    "population_natural_increase_rate_2016",
    "population_net_international_migration_rate_2016",
    "population_net_domestic_migration_rate_2016",
    "population_net_migration_rate_2016",
    "unemployment_civilian_labor_force_2016",
    "unemployment_employed_2016",
    "unemployment_unemployed_2016",
    "unemployment_unemployment_rate_2016",
    "population_by_age_total_5_13_2016",
    "population_by_age_total_14_17_2016",
    "population_by_age_total_18_24_2016",
    "population_by_age_total_15_44_2016",
    "population_by_age_total_45_64_2016",
    "population_by_age_total_65_over_2016",
    "population_by_race_total_white_male_2016",
    "population_by_race_total_white_female_2016",
    "population_by_race_total_black_male_2016",
    "population_by_race_total_black_female_2016",
    "population_by_race_total_american_indian_alaska_native_male_2016",
    "population_by_race_total_american_indian_alaska_native_female_2016",
    "population_by_race_total_american_indian_alaska_native_female_2016",
    "population_by_race_total_asian_female_2016",
    "population_by_race_total_native_hawaiian_pacific_islander_male_2016",
    "population_by_race_total_native_hawaiian_pacific_islander_female_2016",
    "population_by_race_total_2_or_more_races_male_2016",
    "population_by_race_total_2_or_more_races_female_2016",
    "population_by_race_total_white_combination_male_2016",
    "population_by_race_total_white_combination_female_2016",
    "population_by_race_total_black_combination_male_2016",
    "population_by_race_total_black_combination_female_2016",
    "population_by_race_total_american_indian_alaska_native_combination_male_2016",
    "population_by_race_total_american_indian_alaska_native_combination_female_2016",
    "population_by_race_total_asian_combination_male_2016",
    "population_by_race_total_asian_combination_female_2016",
    "population_by_race_total_native_hawaiian_pacific_islander_combination_male_2016",
    "population_by_race_total_native_hawaiian_pacific_islander_combination_female_2016",
]

testCols = ["population_change_2016"]

for col in testCols:
    i in range(len(demoDF)):
    demoDf[col].iloc[i] =

MemoryError: cannot allocate memory for array

In [24]:
demoDF["population_by_age_total_45_64_2016"]

0        14814.0
1        14814.0
2        14814.0
3        14814.0
4        14814.0
          ...
51997      967.0
51998      967.0
51999      967.0
52000      967.0
52001      967.0
Name: population_by_age_total_45_64_2016, Length: 52002, dtype: float64